@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
    --color-primary: rgb(113, 195, 183);
    --color-primary-2: #ECF9F7;
    --color-primary-3: #91DACA;
    --color-primary-4: #358A7D;
    --color-primary-5: #12433C;
    --color-primary-6: #97ded5;
}
.branding-color-primary{
    color: var(--color-primary);
}
.branding-color-primary-2{
    color: var(--color-primary-2);
}
.branding-color-primary-3{
    color: var(--color-primary-3);
}
.branding-color-primary-4{
    color: var(--color-primary-4);
}
.branding-color-primary-5{
    color: var(--color-primary-5);
}
.branding-color-primary-6{
    color: var(--color-primary-6);
}
.branding-bg-primary{
    background-color: var(--color-primary);
}
.branding-bg-primary-2{
    background-color: var(--color-primary-2);
}
.branding-bg-primary-3{
    background-color: var(--color-primary-3);
}
.branding-border{
    border: 1px solid var(--color-primary)!important;
}
body{
    color: #4e4e4e;
}
section{
    transition: 1s;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeUp 0.6s ease-out both;
}
a{
    color: var(--color-primary);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p, li{
    line-height: 2rem;
}


html, body{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    height: 50vh;
}
@media (max-width: 991.98px) {
  header {
    height: auto;
  }
}
.logo img{
    width: 200px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-desk li{
    display: inline;
    margin: 0 1.3rem;
}
nav a{
    color: #000!important;
}
nav a:hover{
    text-decoration: none;
}
.highlight-section {
  display: grid;
  align-content: center;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.highlight-section div{
    color: #fffffff7;
    margin: auto;
    max-width: 660px;
    padding: 0 1rem;
    text-align: center;
}
.highlight-section h1, .highlight-section h2, .highlight-section p{
    opacity: .9;
    text-shadow: 0 2px 6px rgba(0,0,0,0.35);
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 0.6px;
}

@media (max-width: 991.98px) {
  .highlight-section {
    background-position: 25% center;
  }
}


/* HOME */

.home-abordagens-list > .col-lg {
    background-color: #F9FAFC;
    transition: .3s;
}
.home-abordagens-list > .col-lg:hover {
    color: var(--color-primary);
}
.home-abordagens-list i {
    color: var(--color-primary) ;
}

/* HOME */

/* FOOTER */
footer, .credit {
  font-size: 0.875rem; /* equivalente a ~14px */
}

footer ul{
    list-style-type: none;
    margin: 0!important;
}
.credit p{
    opacity: .7;
}

/* FOOTER */

